{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'sign_up.css' %}">
    <link rel="stylesheet" href="{% static 'items/detail.css' %}">
    <link rel="stylesheet" href="{% static 'new_item_page.css' %}">
    <link rel="stylesheet" href="{% static 'cart_page.css' %}">
    <link rel="stylesheet" href="{% static 'created_items.css' %}">
    <script src="{% static 'common.js' %}"></script>
</head>
<body id="body"> 
<div id='navbar'>
    <div id='searchbar'>
        <form method="get" action="{% url 'app:search' %}">
            <input type='text' name='query' class="searchbarsizing" value=""{{ query }} placeholder='Search'>

            <button hidden>Search</button>
        </form>
    </div>

    <div id="category-filter">
        <form method="get" action="{% url 'home' %}">
            <select name="category" onchange="this.form.submit()">
                <option value="">All Categories</option>
                {% for category in global_categories %}
                    <option value="{{ category.id }}"
                        {% if global_selected_category and global_selected_category.id == category.id %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <a class='browsing-button' href="{% url 'item:browsing' %}"><button class="browsebtn">Browse</button></a>

    {% if request.user.is_authenticated %}
        <div class='authenticated-nav-links'>
            <a href="{% url 'item:new' %}"><button class="addbtn">Add Item</button></a>
            <a href="{% url 'dashboard:createditems' %}"><button class="createbtn">Created Items</button></a>
            <a href="{% url 'Cart:Home' %}"><button class="cartbtn">Cart</button></a>
            <a href="{% url 'app:logout' %}"><button class="logoutbtn">Logout</button></a>
        </div>

    {% else %}
        <div class='navigation-buttons'>
            <a class='login-button' href="{% url 'app:login' %}"><button class="logbtn">Login</button></a>
            <a class='singup-button' href="{% url 'app:signup' %}"><button class="signbtn">Sign Up</button></a>
        </div>
    {% endif %}

    <div id='options'>
        <button class='options-button'>Information</button>
        <div id='options-dropdown'>
            <ul id='options-list'>
                <li class='options-list-e'>
                    <button>Legal Matters</button>
                    <div class='extra-contents'>
                        <p class="footertxt">Privacy Policy</p>
                        <p class="footertxt">Terms of Service</p>
                        <p class="footertxt">Cookie Settings</p>
                        <p class="footertxt">Return/Refund Policies</p>
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>Contact</button>
                    <div class='extra-contents'>
                        <p class="footertxt">Phone Number: 662-327-459</p>
                        <p class="footertxt">Email: fakestop@gmail.com</p>
                        <p class="footertxt">Address: Water Valley, MS</p>
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>Navigation Links</button>
                    <div class='extra-contents'>
                        <p class="footertxt">About Us</p>
                        <p class="footertxt">FAQ</p>
                        <p class="footertxt">Customer Service</p>
                    </div>
                </li>
            </ul>
        </div>
    </div> 
</div>
    {% block content %} {% endblock content %}
</body>
</html>