{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'common.js' %}"></script>
</head>
<body id="body"> 
<div id='navbar'>
    <div id='searchbar'>
        <input type='text' name='dbsearch' placeholder='Search'>
    </div>
    <div id='options'>
        <button>Options</button>
        <div id='options-dropdown'>
            <ul id='options-list'>
                <li class='options-list-e'>
                    <button>button-1</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-2</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-3</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-4</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-5</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% block content %} {% endblock content %}
<footer class="footer">
    <div class="LegalInfo">
        <h3 class="footertxthead">Legal Matters</h3>
        <p class="footertxt">Privacy Policy</p>
        <p class="footertxt">Terms of Service</p>
        <p class="footertxt">Cookie Settings</p>
        <p class="footertxt">Return/Refund Policies</p>
    </div>
    <div class="Contact">
        <h3 class="footertxthead">Contact Info</h3>
        <p class="footertxt">Phone Number: 662-327-459</p>
        <p class="footertxt">Email: fakestop@gmail.com</p>
        <p class="footertxt">Address: Watervalley, MS</p>
    </div>
    <div class="Navigationlinks">
        <h3 class="footertxthead">Navigation Links</h3>
        <p class="footertxt">About Us</p>
        <p class="footertxt">FAQ</p>
        <p class="footertxt">Customer Service</p>
    </div>

</footer>
</body>
</html>