{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'sign_up.css' %}">
    <link rel="stylesheet" href="{% static 'items/detail.css' %}">
    <link rel="stylesheet" href="{% static 'new_item_page.css' %}">
    <link rel="stylesheet" href="{% static 'cart_page.css' %}">
    <script src="{% static 'common.js' %}"></script>
</head>
<body id="body"> 
<div id='navbar'>
    <div id='searchbar'>
        <form method="get" action="{% url 'app:search' %}">
            <input type='text' name='query' class="searchbarsizing" value=""{{ query }} placeholder='Search'>

            <button hidden>Search</button>
        </form>
    </div>
    <div id='options'>
        <button class='options-button'>Options</button>
        <div id='options-dropdown'>
            <ul id='options-list'>
                <li class='options-list-e'>
                    <a href="{% url 'app:category' category.id %}"><button>{{ category.</button></a>
                </li>
            </ul>
        </div>
    </div> 
    <a class='browsing-button' href="{% url 'item:browsing' %}"><button class="browsebtn">Browse</button></a>

    {% if request.user.is_authenticated %}
        <div class='authenticated-nav-links'>
            <a href="{% url 'item:new' %}"><button class="addbtn">Add Item</button></a>
            <a href="{% url 'dashboard:createditems' %}"><button class="createbtn">Created Items</button></a>
            <a href="{% url 'Cart:Home' %}"><button class="cartbtn">Cart</button></a>
            <a href="{% url 'app:logout' %}"><button class="logoutbtn">Logout</button></a>
        </div>

    {% else %}
        <div class='navigation-buttons'>
            <a class='login-button' href="{% url 'app:login' %}"><button class="logbtn">Login</button></a>
            <a class='singup-button' href="{% url 'app:signup' %}"><button class="signbtn">Sign Up</button></a>
        </div>
    {% endif %}
</div>
    {% block content %} {% endblock content %}
</body>
</html>