{% extends "app/base.html" %}
{% block content %}
<div id='container'>
    <div id='itemlisting-container'>
        <ul>
            {% for item in items %}
                <div>
                    <a class='items-link-class' href="{% url 'item:detail' item.id %}">
                        <div>
                            <img class='home-item-img' src="{{ item.image.url}}" class="rounded-t-xl">
                        </div>
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price : {{item.price }}</p>
                        </div>
                    </a>
                    <div class="purchase">
                        <a href="{% url 'app:checkout' item.id %}"><button>Purchase</button></a>
                    </div>
                    <div class="cartadd">
                        <a href="{% url 'Cart:add' item.id %}"><button>Add to cart </button></a>
                    </div>
                </div>
            {% empty %}
                <li>None found</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}