{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'common.css' %}"> 
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'common.js' %}"></script>
</head>
<body id="body"> 
<div id='navbar'>
    <div id='searchbar'>
        <input type='text' name='dbsearch' placeholder='Search'>
    </div>
    <div id='options'>
        <button>Options</button>
        <div id='options-dropdown'>
            <ul id='options-list'>
                <li class='options-list-e'>
                    <button>button-1</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-2</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-3</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-4</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
                <li class='options-list-e'>
                    <button>button-5</button>
                    <div class='extra-contents'>
                        dropdown placeholder
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
    {% block content %} {% endblock content %}
</body>
</html>