.cart-entire-page {
    overflow:hidden;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cart-page-card {
    width:67%;
    height:auto;
    margin:0 auto;
    margin-top:30vh;
    background-color: #abaaaa;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.cart-table {
    width:100%;
    table-layout:fixed;
}

.cart-table th,
.cart-table td {
    text-align:left;
    padding:1vh 2vh;
}

.cart-table th:nth-child(1),
.cart-table td:nth-child(1) {
    width:50%
}

.cart-table th:nth-child(2),
.cart-table td:nth-child(2) {
    width:15%
}

.cart-table th:nth-child(3),
.cart-table td:nth-child(3) {
    width:20%
}

.cart-table th:nth-child(4),
.cart-table td:nth-child(4) {
    width:15%
}

.your-cart-text {
    font-size:3.125rem;
    background-color: black;
    border-bottom: solid .420rem;
    width:100%;
    text-align: center;
    margin-top:-.5rem;
    border-radius:15px;
}

.cart-var-table,
.cart-desc-table {
    font-size:1.563rem;
    display:flex;
    gap:5vh;
    justify-content:center;
}

.cart-total-text {
    font-size:1.25rem;
}

.cart-remove-button {
    margin-left:2vh;
}

.checkout-cart-button {
    transform:scale(1.4);
    margin-bottom:4vh;
}