 a { /* Can and likely will change. Only turned red as its hard to see
    the links in purple.  */
    color:red;
}

#body {
    background-color: rgb(49, 48, 48);
}

#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height:10vh;
    background-color: rgb(219, 219, 219);
    padding: 0px;
    margin: 0px;
    display: flex; 
    overflow: hidden;
    z-index: 1000;
    border-radius: 0.313rem;
}
.searchbarsizing {
    width: 40vw;
}
#searchbar {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    margin-left: 0.938rem;
}

#options {
    margin-top: 0.938rem;
    margin-bottom: 0.938rem;
    margin-left: 0.125rem;
    display: flex;
}

#options-dropdown {
    display: none;
    background-color: rgb(219, 219, 219);
}

#options:hover #options-dropdown {
    display: block;
}

#options-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction:column;
}

.options-list-e {
    margin-left: 1.25rem;
    align-items: center;
}

.options-button {
    height: 2.222vh;
}

.extra-contents {
    display: none;
    background-color: rgb(206, 206, 206);
    margin-top: 0.313rem;
}

.options-list-e:hover .extra-contents {
    display: block;
}
.footer {
    position:fixed;
    left:0;
    width:100vw;
    height:20vh;
    background-color: rgb(219, 219, 219);
    display:flex;
    justify-content: space-evenly;
}
.legalInfo{
    display:flex;
    flex-direction:column;
    width:33%;
}
.footertxthead {
    font-size:1rem;
    margin:.3rem
}
.footertxt {
    font-size:.8rem;
    margin:.4rem
}
.Contact {
    display:flex;
    flex-direction:column;
}
.Navigationlinks {
    display:flex;
    flex-direction:column;
}
.navigation-buttons,
.authenticated-nav-links,
.browsing-button {
    margin-top:0.938rem;
    margin-left:1.875;
}
.logbtn,
.createbtn,
.addbtn,
.browsebtn,
.signbtn,
.cartbtn,
.logoutbtn {
    border-radius:1.25rem;
    width:7.222vw;
    height:2.444vh;
    font-size:.8rem;
    margin-left: .4rem;

}