.created-items-title {
    display:flex;
    justify-content:center;
    color:white;
    font-size: 4rem;
    margin-top: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.view button,
.purchase button {
    width: 10vw;
    margin-top: 10px;
    padding: .5rem;
    border-radius: .375rem;
    border: none;
    background-color: black;
    cursor: pointer;
    color: white;
}

#container {
    margin-top: 70px;
    padding-bottom: 20px;
}

#itemlisting-container-c-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px); 
    justify-content: center;
    gap: 30px;
    padding: 20px;
}


.item-card-c {
    background-color: rgb(75, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
    
    margin: 0; 
    border-radius: .375rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px; 
}

.rounded-t-xl {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: 0;
    padding: 0;
    border-radius: 15px;
    background-color: rgb(69, 69, 69);
    box-sizing: border-box; 
}

.p-6-bg-white-rounded-b-xl {
    background-color: rgb(69, 69, 69);
    border-radius: 15px;
    width: 100%;
    min-height: 100px; 
    padding: 1.5rem; 
    box-sizing: border-box; 
    margin-top: 10px; 
}

.purchase, .view {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
}