
.category-section {
    
    margin-bottom: 3.125rem;
}

.category-title {
    display:flex;
    justify-content:center;
    color:white;
    font-size: 4rem;
    margin-top: 15vh;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
    gap:1.563rem;
    padding:5rem;
    padding-top:0;
}

.item-card {
    background:white;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 .25rem .625rem rgba(0,0,0,0.25);
    padding-bottom: .625rem;
    text-align:center;
}

.home-item-img {
    width: 100%;
    height: 11.25;
    object-fit:cover;
}

.card-info {
    padding: .625rem;
}

.purchase button, .cartadd button {
    width:20vw;
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .375rem;
    border: none;
    color: white;
    cursor: pointer;
}

.purchase button {
    background: black;
}

.cartadd button {
    background: #007bff
}