
.category-section {
    
    margin-bottom: 3.125rem;
}

.category-title {
    display:flex;
    justify-content:center;
    color:white;
    font-size: 4rem;
    margin-top: 15vh;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap:25px;
    padding:5rem;
    padding-top:0;
}

.item-card {
    background:white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    padding-bottom: 10px;
    text-align:center;
}

.home-item-img {
    width: 100%;
    height: 180px;
    object-fit:cover;
}

.card-info {
    padding: 10px;
}

.purchase button, .cartadd button {
    width:20vw;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    color: white;
    cursor: pointer;
}

.purchase button {
    background: black;
}

.cartadd button {
    background: #007bff
}