
.TV-logo-container {
    margin: 4px;
    background-color: rgb(252, 252, 252);
    margin-right: 12vh;
    border-radius: 7px;
}

.TV-logo-container img {
    width: 110px;
    transform: translate(0px, -25px);
}

.category-section {
    margin-bottom: 3.125rem;
    background-color: #abaaaa;
    border-color: #E5E7EB;
   
    border-radius: 15px;
}

.category-title {
    display:flex;
    justify-content:center;
    font-size: 4rem;
    margin-top: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* text-decoration:underline; */
    background-color:#000000;
    color:rgb(251, 251, 251);
    border-bottom: solid .420rem;
    width:85vw;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
    gap:1.563rem;
    padding:5rem;
    padding-top:0;
}

.item-card {
    background-color: #ffffff;
    border-color: #DFDFDF;
    border-radius: 0.75rem;
    overflow:auto;
    overflow:hidden;
    box-shadow: 0 .25rem .625rem rgba(0,0,0,0.25);
    padding-bottom: .625rem;
    text-align:center;
    height:auto;
    
}

.home-item-img {
    width: 100%;
    height: 22.222vh;
    object-fit:cover;
}

.card-info {
    padding: .625rem;
}


.no-items-p-tag {
    color:white;
}