
.TV-logo-container {
    margin: 4px;
    background-color: rgb(252, 252, 252);
    margin-right: 12vh;
    border-radius: 7px;
}

.TV-logo-container img {
    width: 110px;
    transform: translate(0px, -25px);
}

.category-section {
    margin-bottom: 3.125rem;
    background-color: rgb(32, 32, 32);
    margin: 50px;
    border-radius: 15px;
}

.category-title {
    display:flex;
    justify-content:center;
    color:white;
    font-size: 4rem;
    margin-top: 15vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.375rem, 1fr));
    gap:1.563rem;
    padding:5rem;
    padding-top:0;
}

.item-card {
    background-color: rgb(75, 75, 75);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 .25rem .625rem rgba(0,0,0,0.25);
    padding-bottom: .625rem;
    text-align:center;
}

.home-item-img {
    width: 100%;
    height: 22.222vh;
    object-fit:cover;
}

.card-info {
    padding: .625rem;
}

.purchase button, .cartadd button {
    width:20vw;
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .375rem;
    border: none;
    color: white;
    cursor: pointer;
}

.purchase button {
    background: black;
}

.cartadd button {
    background: #002f79
}

.no-items-p-tag {
    color:white;
}