#container {
    margin-top: 90px;
}

.sale-item {
    background-color: white;
}

.items-link-class:visited {
    color:red;
}

.items-link-class {
    color:white;
}

.home-item-img {
    margin-top:50px;
}

.rounded-t-xl {
    margin-top:100px;
}