.new-item-card {
    display:flex;
    flex-direction:column;
    background-color:rgb(65, 65, 65);
    margin:0 auto;
    margin-top:18.125;
    height:46.667vh;
    width:67%;
    color:white;
}

.new-item-text {
    margin:0 auto;
    font-size:3.125rem;
}

.new-item-div {
    display:grid;
    grid-template-columns:9.375rem 1fr;
    column-gap:1.875rem;
    row-gap:1.25rem;
    width:60%;
    margin:0 auto;
    margin-top:0.938rem;
    align-items:center;
}

.new-item-div input,
.new-item-div textarea,
.new-item-div select {
    width: 67%;
}

.new-item-div > div {
    display:contents
}

.new-item-div label {
    justify-self:end;
    font-size:1.125rem;
}

.form-submit-btn {
    margin-top:0.938rem;
    transform: scale(1.5);
}