.new-item-card {
    width:60%;
    height:440px;
    margin:0 auto;
    margin-top:30vh;
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.new-item-text {
    margin:0 auto;
    font-size:3.125rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.new-item-div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display:grid;
    grid-template-columns:9.375rem 1fr;
    column-gap:1.875rem;
    row-gap:1.25rem;
    width:60%;
    margin:0 auto;
    margin-top:0.938rem;
    align-items:center;
}

.new-item-div input,
.new-item-div select {
    width: 67%;
    height: 20px;
}

.new-item-div textarea {
    width: 67%;
    height: 50px;
}

.new-item-div > div {
    display:contents
}

.new-item-div label {
    justify-self:end;
    font-size:1.125rem;
    
}

.form-submit-btn {
    margin-top:0.938rem;
    transform: scale(1.5);
}