.signup_page,
.login_page {
    overflow:hidden;
}

body {
    margin: 0;
    min-height:100vh;
}

.container {
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:13.75rem auto;
    color:white;
    font-size:1.563rem;
    background-color:rgb(18, 18, 18);
    padding:2.5rem 0;
}

.signuptxt {
    font-size: 3.75rem;
    margin-top:-1.25rem;
}

.email,
.password1,
.confirmpassword {
    margin-top:1.25rem;
}

form {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.submitbtn {
    margin-top:1.25erm;
    transform: scale(1.5);
}

input {
    width:12.5vw;
    height:13.889vh;
}

.singup-button {
    margin-left:0.625;
}