.signup_page,
.login_page {
    overflow:hidden;
}

body {
    margin: 0;
    min-height:100vh;
}

.container {
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:13.75rem auto;
    color:white;
    font-size:1.563rem;
    background-color:rgb(18, 18, 18);
    padding:2.5rem 0;
}

.signuptxt {
    font-size: 3.75rem;
    margin-top:-1.25rem;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
    margin-top: 5px;
    height: 1.8rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 20rem;     box-sizing: border-box;
    border: 1px solid #333;
    background-color: #eaeaea;
    color: white;
}

.Username,
.email,
.password1,
.confirmpassword {
    margin-top: 15px;
}

.Usernametxt,
.passwordtxt,
.emailtxt {
    height: auto; 
}

form {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.submitbtn {
    margin-top: 40px;
    transform: scale(1.5);
}

input {
    width:12.5vw;
    height:13.889vh;
}

.singup-button {
    margin-left:0.625;
}