
body {
    margin: 0;
    min-height:100vh;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:50%;
    margin:220px auto;
    color:white;
    font-size:25px;
    background-color:rgb(18, 18, 18);
    padding:40px 0;
}



.signuptxt {
    font-size: 60px;
    margin-top:-20px;
}

.email,
.password1,
.confirmpassword {
    margin-top:20px;
}

form {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.submitbtn {
    margin-top:20px;
    transform: scale(1.5);
}

input {
    width:200px;
    height:15px;
}

.singup-button {
    margin-left:10px;
}