{% extends 'app/base.html' %}

{% block title %}{{item.name}}{% endblock %}

{%block content %}
<div class="itemcontainer">
    <div class="itemimgcontainer">
        <img src="{{item.image.url}}" class="itemimg">
    </div>

    <div class="infocontainer">
        <h1 class="infohead">{{ item.name}}</h1>
        <p class="infotxt"><strong>Price:</strong> ${{item.price}}</p>
        <p class="infotxt"><strong>Seller:</strong> {{item.created_by}}</p>
        {% if item.description %}
            <p class="infotxt"><strong class="infoHead">Description:</strong><br>
                 {{item.description}}
            </p>
        {% endif %}
        <a href="{% url 'app:checkout' item.id %}"><button class="purchase">Purchase</button></a>
        <a href="{% url 'Cart:add' item.id %}"><button class="purchase">Add to Cart</button></a>
        {% if request.user == item.created_by %}
            <div class="specify button">
                <p>You made this item!</p><br>
                <a href="{% url 'item:edit' item.id %}">Edit Item</a>
                <a href="{% url 'item:delete' item.id %}">Delete Item</a>
                <a href="{% url 'app:checkout' item.id %}"><button>Purchase</button></a>
            </div>
        {% endif %}
    </div>
</div>
<h2 class="rlheader">Related Items</h2>
<div class="rlcontainer">
    {% for item in related_items %}
    <div class="rlcard">
            <div class='card-content'>
                <a class='rl-links' href="{% url 'item:detail' item.id %}">
                    <div class='itemimgcontainer'>
                        <img src="{{ item.image.url}}" class="rlimg">
                    </div>
                    <div class="rlinfocontainer">
                        <h2 class="rlinfotxt">{{ item.name }}</h2>
                        <p class="rlinfotxt">Price : {{item.price }}</p>
                        <div class="purchase">
                            <a href="{% url 'app:checkout' item.id %}"><button>Purchase</button></a>
                        </div>
                    </div>
                </a>
            </div>
    </div>
    {% endfor %} 
</div>
{% endblock %}