{% extends 'app/base.html' %}

{% block title %}{{item.name}}{% endblock %}

{%block content %}
<div class="itemcontainer">
    <div class="itemimgcontainer">
        <img src="{{item.image.url}}" class="itemimg">
    </div>

    <div class="infocontainer">
        <h1 class="infohead">{{ item.name}}</h1>
        <p class="infotxt"><strong>Price:</strong> ${{item.price}}</p>
        <p class="infotxt"><strong>Seller:</strong> {{item.created_by}}</p>
        {% if item.description %}
            <p class="infotxt"><strong class="infoHead">Description:</strong><br>
                 {{item.description}}
            </p>
        {% endif %}

        <a href="#" class="sellercontact">Contact Seller</a>
    </div>
</div>
<div class="rlcontainer">
    <h2 class="rlheader">Related Items</h2>
    <div class="rlcontain">
        {% for item in related_items %}
            <div>
                <a class='rl-links' href="{% url 'item:detail' item.id %}">
                    <div>
                        <img src="{{ item.image.url}}" class="rlimg">
                    </div>
                    <div class="rlinfocontainer">
                        <h2 class="rlinfotxt">{{ item.name }}</h2>
                        <p class="rlinfotxt">Price : {{item.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}