.itemcontainer {
    width:80%;
    height:44.444vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    background-color:rgb(65, 65, 65);
    margin:0 auto;
    margin-top:9.375rem;
    border-radius:1.875rem;
}

.sellercontact {
    color:green;
}

.itemimgcontainer {
    margin-left:1.563rem;
}

.infocontainer {
    margin-left:3.125rem;
}

.infotxt {
    font-size:1.25rem;
}

.infohead {
    font-size:2.5rem;
}

.itemimg {
    border-radius:0.938rem;
    width:30vw;
    height:auto;
    max-height:36vh;
}

.rlheader {
    display:flex;
    justify-content:center;
    color:white;
    margin-top:9.375rem;
    font-size:3.125rem;
}

.rlcontainer {
    display:flex;
    justify-content:center;
    gap:1.5rem;
    flex-wrap:wrap;
}

.rlcard {
    width: 25%;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0,0,0,0.2);
}

.card-content {
    padding:1rem;
}

.rl-links:visited {
    color:red;
}

.rl-links {
    color:white;
}

.rlimg {
    border-radius:0.938rem;
    width:25vw;
    height:25vh;
}