.itemcontainer {
    width:80%;
    height:44.444vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    background-color:rgb(65, 65, 65);
    margin:0 auto;
    margin-top:9.375rem;
    border-radius:1.875rem;
}

.sellercontact {
    color:green;
}

.itemimgcontainer {
    margin-left:1.563rem;
}

.infocontainer {
    margin-left:3.125rem;
}

.infotxt {
    font-size:1.25rem;
}

.infohead {
    font-size:2.5rem;
}

.itemimg {
    border-radius:0.938rem;
    width:30vw;
    height:auto;
    max-height:36vh;
}

.rlheader {
    display:flex;
    justify-content:center;
    color:white;
    margin-top:9.375rem;
    font-size:3.125rem;
}

.rlcontainer {
    display:flex;
    justify-content:center;
    gap:1.5rem;
    flex-wrap:wrap;
}

.rlcard {
    width: 25%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color:rgb(65, 65, 65);
}

.card-content {
    padding:1rem;
}

.rl-links:visited {
    color:rgb(196, 221, 255);
}

.rl-links {
    color:white;
}

.rlimg {
    border-radius:0.938rem;
    width:20vw;
    height:20vh;
}

.purchase button, .cartadd button {
    width:15vw !important;
    margin-top: .625rem;
    padding: .5rem;
    border-radius: .375rem;
    border: none;
    color: white;
    cursor: pointer;
}

.purchase button {
    background: white;
}

.cartadd button {
    background: #002f79
}

.purchase,
.detail-edit-button,
.detail-delete-button {
    display:flex;
    justify-content:center;
    width: 10vw;
    font-size:1rem;
    height:2.5vh;
    text-align: center;
    margin-bottom: 10px; 
    display: flex;
    flex-direction: column;
}

.rlinfocontainer {
    text-align:center;
    color:white;
}

.rlinfotxt a {
    text-decoration-style:none;
}