.itemcontainer {
    width:80%;
    height:400px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    background-color:rgb(65, 65, 65);
    margin:0 auto;
    margin-top:150px;
    border-radius:30px;
}

.sellercontact {
    color:green;
}

.itemimgcontainer {
    margin-left:25px;
}

.infocontainer {
    margin-left:50px;
}

.infotxt {
    font-size:20px;
}

.infohead {
    font-size:40px;
}

.itemimg {
    border-radius:15px;
    width:20vw;
    height:auto;
    max-height:32vh;
}

.rlheader {
    display:flex;
    justify-content:center;
    color:white;
    margin-top:150px;
    font-size:50px;
}

.rlcontainer {
    display:flex;
    justify-content:center;
    gap:1.5rem;
    flex-wrap:wrap;
}

.rlcard {
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.card-content {
    padding:1rem;
}

.rl-links:visited {
    color:red;
}

.rl-links {
    color:white;
}

.rlimg {
    border-radius:15px;
    width:25vw;
    height:25vh;
}