{% extends "app/base.html" %}
{% block content %}
<div id='container'>
    <h1 class='created-items-title'>Item Listing</h1>
    <div id='itemlisting-container-c-items'>
        <ul>
            {% for item in items %}
                <div class="item-card-c">
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url}}" class="rounded-t-xl">
                        </div>
                        <div class="p-6-bg-white-rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price : {{item.price }}</p>
                        </div>
                    </a>
                    <div class="purchasebtn">
                        <a href="{% url 'app:checkout' item.id %}"><button>Purchase</button></a>
                    </div>
                    <div class="view">
                        <a href="{% url 'item:detail' item.id %}"><button>View</button></a>
                    </div>
                </div>
            {% empty %}
                <li>None found</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}